@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Crimson+Text);

body{
  background-image: url(../images/awholebanana.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}

p{
  font-family: 'Crimson Text', serif;
}

h1, h4{
  font-family: 'Montserrat', sans-serif;
}


#promo{
  margin-left: 30px;
  margin-right: 30px;
}

.hello-banana{
  background-color: white;
  margin: 30px;
  padding: 20px;
  width: 40%;
}